<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
	<siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
		<siteMapNode SystemName="Quotes" nopResource="Admin.Quotes" PermissionNames="ManageQuotes" controller="LogisticsQuote" action="Index" IconClass="fas fa-newspaper" />
		<siteMapNode SystemName="Customer Portal Quotes" nopResource="Admin.CustomerQuotes" PermissionNames="ManageQuotes" controller="Quote" action="History" IconClass="fas fa-newspaper" />
		<siteMapNode SystemName="Orders" nopResource="Admin.Orders" PermissionNames="ManageOrders" controller="Order" action="List"  IconClass="fas fa-list-ol"/>
		<siteMapNode SystemName="Client list" nopResource="Admin.Customers.Client" PermissionNames="ManageCompanies" controller="Company" action="List" IconClass="fas fa-user" />
		<siteMapNode SystemName="Carriers" nopResource="Admin.Carriers" PermissionNames="ManageCarriers" controller="LogisticsCarriers" action="Index" IconClass="fas fa-truck" />
		<siteMapNode SystemName="Referral Management" nopResource="Admin.Referral.Reports" PermissionNames="ManageReferralManagements" controller="Referral" action="Report"  IconClass="fas fa-clipboard-list"/>
		<siteMapNode SystemName="VendorMaster" nopResource="Admin.VendorMaster" PermissionNames="ManageVendorsMaster" controller="LogisticsVendorMaster" action="Index" IconClass="fas fa-user-circle" />
		
		<siteMapNode SystemName="Reports" nopResource="Admin.Reports" PermissionNames="ManageActivityReports,ManageProfitReports,ManageRevenueReports,ManageCommissionReports,ManageOnTimePickupAndDeliveryReports" IconClass="fas fa-chart-pie">
			<siteMapNode SystemName="Activity report" nopResource="Admin.Activity.Reports" PermissionNames="ManageActivityReports"
					 controller="Report" action="ActivityReport"  IconClass="fas fa-chart-line"/>
			<siteMapNode SystemName="Revenue report" nopResource="Admin.Revenue.Reports" PermissionNames="ManageRevenueReports"
					 controller="Report" action="RevenueReport" IconClass="fas fa-chalkboard-teacher"/>
			<siteMapNode SystemName="On-Time Pickup and Delivery report" nopResource="Admin.OnTimePickupAndDelivery.Reports" PermissionNames="ManageOnTimePickupAndDeliveryReports"
					 controller="Report" action="OnTimePickupAndDeliveryReport" IconClass="fas fa-calendar-alt"/>
			<siteMapNode SystemName="Profit report" nopResource="Admin.Profit.Reports" PermissionNames="ManageProfitReports"
					 controller="Report" action="ProfitReport" IconClass="fas fa-sort-amount-up"/>
			<siteMapNode SystemName="Commission report" nopResource="Admin.Commission.Reports" PermissionNames="ManageCommissionReports"
						 controller="Report" action="CommissionReport"  IconClass="fas fa-coins"/>
		</siteMapNode>

		<siteMapNode SystemName="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageEmailAccounts,ManageMessageTemplates,ManageMessageQueue,ManageScheduleTasks,ManagePlugins,ManageSystemLog,ManageSettings" IconClass="fas fa-cogs">
			<siteMapNode SystemName="Referral settings" nopResource="Admin.Configuration.Settings.Referral" PermissionNames="ManageSettings" controller="Referral" action="List" IconClass="fas fa-gear"/>
			<siteMapNode SystemName="Commissions" nopResource="Admin.Configuration.Settings.Commission" PermissionNames="ManageSettings" controller="Commission" action="List" IconClass="fas fa-coins"/>
			<siteMapNode SystemName="Email accounts" nopResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="far fa-envelope"/>
			<siteMapNode SystemName="Message templates" nopResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="fas fa-inbox"/>
			<siteMapNode SystemName="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="fas fa-comment"/>
			<siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fas fa-tasks"/>
		</siteMapNode>
		
		<siteMapNode SystemName="Customers list" nopResource="Admin.Customers.Customers" PermissionNames="ManageUserManagement" controller="Customer" action="List" IconClass="fas fa-users" />
		<siteMapNode SystemName="Customer roles" nopResource="Admin.Customers.Customers.Fields.CustomerRoles" PermissionNames="ManageUserManagement" controller="CustomerRole" action="Index" IconClass="fas fa-user-tie" />
		<siteMapNode SystemName="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fas fa-universal-access" />


		<!--Quoting Portal Start-->

		<siteMapNode SystemName="Portal Quotes" nopResource="Portal.Quote.Request" PermissionNames="PortalAllowNavigation" controller="Quote" action="List" IconClass="far fa-newspaper" />
		<siteMapNode SystemName="Portal Booking" nopResource="Portal.Quote.Booking" PermissionNames="PortalAllowNavigation" controller="Quote" action="BookingList" IconClass="far fa fa-list-ol" />

		<!--Quoting Portal End-->
	</siteMapNode>
</siteMap>

