@{
    Layout = "_ColumnsOne";
}
<main class="carrier-pg">
    <div class="carrier-bg-area">
        <div class="main-cardbox">
            <h4>Carrier Setup - 3 Easy Steps!</h4>
        <p>@T("LogisticsCarrier.Application.ThankYouCarrierApplicationMessage")</p>
        </div>
    </div>
</main>