@model OrderModel
<div class="card detail-info-card">
	<div class="card-header with-border clearfix">
		<div class="card-title">
			<i class="far fa-newspaper"></i>
			@T("Admin.SendTextMessage")
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="send-text-message">
				@T("Admin.LogisticsQuote.SendTextMessage.NoData")
			</div>
		</div>
	</div>
</div>