@{
	//page title
    ViewBag.PageTitle = T("Admin.Profit.Reports").Text;

	//active menu item (system name)
	NopHtml.SetActiveMenuItemSystemName("Profit report");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Profit.Reports")
    </h1>
    <div class="float-right report-filter-right">
         <button id="export-excel" class="btn btn-green" type="button">
            <i class="far fa-file-excel"></i>
            @T("Admin.Common.ExportToExcel.All")
        </button>
    </div>
</div>
<section class="content profit-report">
    <div class="container-fluid">
        <div class="form-horizontal-custom">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row opened" data-hideattribute="ProfitReportPage.HideSearchBlock">
                            <div class="search-text">Search</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-up" aria-hidden="true"></i></div>
                        </div>
                        <div class="search-body" style="">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="label-wrapper">
                                                <label class="col-form-label" for="CompanyName">Company Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input class="form-control text-box single-line" id="CompanyName" placeholder="Enter Company Name" name="CompanyName" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="label-wrapper">
                                                <label class="col-form-label" for="dateRange">
                                                    Select Date Range
                                                    <i class="fas fa-info-circle tooltip-icon">
                                                        <span class="custom-tooltip">
                                                            @T("Admin.ProfitReport.DateRange.Filter.Hint")
                                                        </span>
                                                    </i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-dateInput-view">
                                                <input type="text" id="dateRange" class="form-control" placeholder="Select Date Range" />
                                                <label for="dateRange" class="custom-dateIcon-box"><i class="far fa-calendar-alt"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-report" class="btn btn-primary btn-search">
                                        <i class="fas fa-search"></i> Search
                                    </button>
                                    <button type="button" id="report-btncancel" class="btn btn-primary btn-cancel-search">
                                        <i class="fas fa-times"></i> Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default card-search d-card-search d-card">
                    <div class="card-body">
                        <div class="customer-report-page" id="div_RevenueReport">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        initializeDatePicker();
        refreshData();
    });

    function initializeDatePicker() {
        flatpickr("#dateRange", {
            mode: "range",
            dateFormat: "M d, Y",
            allowInput: false,
            maxDate: "today",
        });
    }

    $("#search-report").click(function () {
		refreshData();
	});
    
    $("#report-btncancel").click(function () {
        $("#CompanyName").val("");

        const datePicker = document.querySelector("#dateRange")._flatpickr;
        if (datePicker) {
            datePicker.clear();
        }

        refreshData();
	});

    function refreshData() {
        const dateRangeValue = $("#dateRange").val();
        const dateRange = dateRangeValue.split(" to ");

        const startDate = dateRange.length === 2 ? dateRange[0] : dateRangeValue;
        const endDate = dateRange.length === 2 ? dateRange[1] : dateRangeValue;

        $.ajax({
            url: "/Admin/Report/LoadProfitReportView",
            method: "GET",
            data: {
                companyName: $("#CompanyName").val(),
                startDate: startDate,
                endDate: endDate
            },
            success: function (data) {
                $("#div_RevenueReport").html(data);
            },
            error: function (error) {
                console.error("Error reloading profit report view:", error);
            }
        });

    }
    $("#export-excel, #export-csv").on("click", function (e) {
        e.preventDefault();
        var format = $(this).attr("id") === "export-excel" ? "excel" : "csv";
        exportReport(format);
    });

    function exportReport(format) {
        const dateRangeValue = $("#dateRange").val();

        const dateRange = dateRangeValue.split(" to ");
        const startDate = dateRange.length === 2 ? dateRange[0] : dateRangeValue;
        const endDate = dateRange.length === 2 ? dateRange[1] : dateRangeValue;
        const companyName = $("#CompanyName").val()
        const antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: `/Admin/Report/ExportProfitReport`,
            method: "POST",
            data: { 
                format, 
                startDate, 
                endDate,
                companyName,
                __RequestVerificationToken: antiForgeryToken
            },
            xhrFields: { 
                responseType: 'blob' 
            },
            success: function (data, status, xhr) {
                var blob = new Blob([data], { type: xhr.getResponseHeader("Content-Type") });
                var link = document.createElement("a");
                link.href = window.URL.createObjectURL(blob);
                link.download = `profit_report.${format === "excel" ? "xlsx" : "csv"}`;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            },
            error: function (error) {
                console.error("Error exporting report:", error);
            }
        });
    }
</script>