@model OrderModel
@using Nop.Core.Domain.Catalog
@using Nop.Services

<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-md-5">
                    
                    <nop-label asp-for="FirstAvailablePickupDate" asp-required="Model.FirstAvailablePickupDateRequired" />
                </div>
                <div class="col-md-7">
                    <nop-editor asp-for="FirstAvailablePickupDate" />
                    <span asp-validation-for="FirstAvailablePickupDate"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-md-5">
                    <nop-label asp-for="PONumber" asp-required="Model.PONumberRequired"/>
                </div>
                <div class="col-md-7">
                    <nop-editor asp-for="PONumber" />
                    <span asp-validation-for="PONumber"></span>
                </div>
            </div>
        </div>

    </div>
</div>
