@model OrderModel
<div class="card detail-info-card">
	<div class="card-header with-border clearfix">
		<div class="card-title">
			<i class="far fa-address-book"></i>
			@T("Admin.Orders.FollowUps")
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="send-text-message">
			</div>
		</div>
	</div>
</div>