@model LogisticsQuoteModel
<div class="col-md-12 mt-4">
<div class="card card-primary card-outline">
	<div class="card-header with-border clearfix">
		<div class="card-title">
			<i class="far fa-newspaper"></i>
			@T("Admin.SendTextMessage")
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="send-text-message">
				@T("Admin.LogisticsQuote.SendTextMessage.NoData")
			</div>
		</div>
	</div>
</div>
</div>