@model LogisticsQuoteModel

<div class="card card-primary card-outline">
	<div class="card-header with-border clearfix">
		<div class="card-title">
			<i class="far fa-newspaper"></i>
			@T("Admin.InformationForShipper")
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="information-for-shipper">
				@if (!string.IsNullOrWhiteSpace(Model.ShipperInformation))
				{
					@Model.ShipperInformation
				}
				else
				{
					@T("Admin.LogisticsQuote.InformationForShipper.NoData")
				}
			</div>
		</div>
	</div>
</div>