@model LogisticsQuoteOrderFollowupsInfoModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.PageTitle = T("Admin.LogisticsQuoteOrderFollowupsInfol.Add").Text;
}

<form asp-controller="LogisticsQuote" asp-action="LogisticsQuoteOrderFollowupsInfoCreatePopup"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]" id="FollowupForm">
    <main class="right-main-area">
        <div class="popup-container">
        <div class="page-title-area">
            <h4 class="mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                    <path d="M8.625 1.5C9.24632 1.5 9.75 2.00369 9.75 2.625V5.4L12.331 4.88381C14.8068 4.38864 17.3732 4.62426 19.7174 5.56196L20.3373 5.80994C22.4747 6.66485 24.827 6.82451 27.0602 6.26619C28.0067 6.02958 28.7667 7.0554 28.2648 7.89198L26.3471 11.0883C25.8348 11.9421 25.5786 12.3689 25.5179 12.8332C25.4927 13.0269 25.4927 13.2231 25.5179 13.4168C25.5786 13.8811 25.8348 14.308 26.3471 15.1617L28.688 19.0634C29.1542 19.8404 28.7373 20.847 27.8582 21.0668L27.708 21.1043C25.0536 21.7679 22.2578 21.5781 19.7174 20.562C17.3732 19.6242 14.8068 19.3887 12.331 19.8839L9.75 20.4V32.625C9.75 33.2463 9.24632 33.75 8.625 33.75C8.00369 33.75 7.5 33.2463 7.5 32.625V2.625C7.5 2.00369 8.00369 1.5 8.625 1.5Z" fill="black" fill-opacity="0.6" />
                </svg>
                @T("Admin.LogisticsOrderFollowupsInfo.Add")
                <div class="button pull-right">
                    <button type="submit" name="save"  id="btnFollowup" class="btn btn-primary">
                        <i class="far fa-save"></i>
                        @T("Admin.Common.Save")
                    </button>
                </div>
            </h4>
        </div>
        </div>
        @await Html.PartialAsync("_CreateOrUpdateLogisticsQuoteOrderFollowups", Model)
    </main>
</form>