@model Nop.Web.Areas.Admin.Models.LogisticsLeads.LogisticsLeadModel
@using Nop.Core.Domain.Catalog
@using Nop.Services

<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-md-4">
                    <b>Estimated Ship Date:</b>
                </div>
                <div class="col-md-8">
                    <span>@Model.EstimatedShippingDate</span>
                </div>
            </div>
        </div>

    </div>
</div>
