@font-face {
  font-family: "Karla";
  src: url("./../fonts/Karla-Medium.ttf") format("truetype"),
  url("./../fonts/Karla-Medium.svg#Karla-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("./../fonts/Karla-Bold.ttf") format("truetype"),
  url("./../fonts/Karla-Bold.svg#Karla-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("./../fonts/Karla-Regular.ttf") format("truetype"),
  url("./../fonts/Karla-Regular.svg#Karla-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("./../fonts/Karla-SemiBold.ttf") format("truetype"),
  url("./../fonts/Karla-SemiBold.svg#Karla-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("./../fonts/Karla-Light.ttf") format("truetype"),
  url("./../fonts/Karla-Light.svg#Karla-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
  font-family: "Karla", sans-serif;
}

.login-bg-area {
  position: relative;
  background-image: url(./../img/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
}

.login-bg-area .login-box-area {
  width: 550px;
  max-width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  border-radius: 20px;
}

.login-box-area .logo-section {
  background-color: #fff;
  padding: 25px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.login-box-area .logo-section img {
  width: 11rem;
  height: auto;
}

.login-box-area .form-section {
  background-color: #1b6ead;
  padding: 3.7rem;
  border-radius: 0px 0px 20px 20px;
}

.login-box-area .form-section h3 {
  font-size: 2.5rem;
  margin: 0px 0px 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.login-box-area .form-section .form-group {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.login-box-area .form-section .form-group input {
  padding: 1.2rem 1.2rem 1.2rem 2.7rem;
  font-size: 16px;
  /* height: 60px; */
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  width: 100%;
  max-width: -webkit-fill-available;
  border-radius: 10px;
  border: none;
}

.login-box-area .form-section .form-group input::placeholder {
  color: #77777a;
}

.login-box-area .form-section .form-group input:focus,
.login-box-area .form-section .form-group input:hover {
  outline: none;
  box-shadow: none;
}

.login-box-area .form-section .form-group svg {
  position: absolute;
  width: 20px;
  height: auto;
  max-height: 20px;
  max-width: fit-content;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.login-box-area .form-section .links-area-box {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  justify-content: space-between;
}

.login-box-area .form-section .links-area-box .remember-box {
  display: flex;
  align-items: center;
}

.login-box-area .form-section .links-area-box .remember-box label {
  color: #000;
  font-size: 16px;
  font-weight: normal;
}

.login-box-area .form-section .links-area-box .remember-box input {
  width: 16px;
  height: 16px;
  margin: 0px;
  margin-right: 8px;
  accent-color: #000;
  background-color: transparent;
  border-color: #000;
}

.login-box-area .form-section .links-area-box .forgot-box a {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  text-align: right;
}

.login-box-area .form-section .login-btn {
  padding: 1.15rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  border: 1.2px solid #000;
  background-color: transparent;
  border-radius: 10px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}

.login-box-area .form-section .login-btn:hover,
.login-box-area .form-section .login-btn:focus {
  box-shadow: 0px 1px 6px 0px #2e2d2d8f;
}

/* --------- -------- */

.right-main-area {
  padding: 20px;
}

.page-title-area h4 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.page-title-area h4 svg {
  width: 20px;
}

.page-main-area .accordion-button,
.page-main-area .accordion-button:not(.collapsed) {
  background-color: #1b6ead;
  color: #fff;
  padding: 10px 15px;
}

.page-main-area .accordion-button:not(.collapsed)::after {
  background-image: unset;
  content: "\2212";
}

.page-main-area .accordion-button::after {
  background-image: unset;
  content: "\002B";
  font-size: 22px;
  font-weight: bold;
  line-height: 15px;
}

.page-main-area .accordion-button svg {
  width: 22px;
}

.page-main-area .accordion-button {
  font-weight: bold;
}

.page-main-area .accordion-body input,
.page-main-area .accordion-body select,
.page-main-area .accordion-body textarea {
  border: 1px solid #ced4da;
}

.remove-item-btn {
  background-color: #f55e5e !important;
  color: #fff;
}

/* --------- -------- */

.required {
  color: red;
}

[class*="sidebar-dark"] .brand-link {
  border-bottom: none;
}

.logo-switch {
  height: 165px;
}

.brand-link.logo-switch::before {
  opacity: 0;
}

.brand-link.logo-switch img {
  width: auto;
  height: auto;
  max-height: 155px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

.sidebar-mini.sidebar-collapse .brand-link.logo-switch img {
  max-height: 35px;
}

.sidebar-mini.sidebar-collapse .logo-switch {
  height: auto;
}

.admin-search-box {
  background-color: #77777a;
  border-color: #77777a;
  color: #fff;
}

.admin-search-box::placeholder {
  color: #fff;
}

.admin-search-box:focus {
  background-color: #77777a;
  border-color: #77777a;
}

.row.search-row > * {
  width: auto;
}

.nav-legacy.nav-sidebar > .nav-item > .nav-link.active {
  background-color: #1b6ead;
  color: #fff;
  border-right: 5px solid #fff !important;
}

.btn-primary {
  background-color: #1b6ead;
  color: #fff;
  border-color: #1b6ead;
}

.btn-primary:hover {
  background-color: #1b6ead;
  color: #fff;
  border-color: #1b6ead;
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.content-wrapper {
  background-color: #eef7ff;
}

.sidebar-dark-primary {
  background-color: #212529;
}

/* .nav-legacy.nav-sidebar .nav-item > .nav-link {
  color: #77777a;
  } */

  .nav-legacy.nav-sidebar .nav-item > .nav-link {
    color: #ffffff;
  }

  .nav-sidebar .nav-link p {
    font-weight: 500;
  }

  .nav-legacy.nav-sidebar > .nav-item > .nav-link.active p {
    font-weight: 600;
  }

  .Advanced-search.hide {
    display: none;
  }

  #advanced-btn {
    cursor: pointer;
  }

  .dataTables_length select.form-control-sm {
    padding: 0.25rem 1.2rem 0.25rem 0.5rem;
    width: 55px !important;
  }

  .navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.55);
  }

  #logisticsQuoteOrderFollowupsInfos-grid_wrapper .dataTables_scrollHeadInner,
  #logisticsQuoteOrderFollowupsInfos-grid_wrapper
  .dataTables_scrollHeadInner
  table {
    width: 100% !important;
  }

  .sidebar-form #search-box {
    position: relative;
  }

  #search-box i {
    position: absolute;
    font-size: 20px;
    color: #fff;
    left: 8px;
    top: 8px;
    z-index: 1;
  }

  #search-box .admin-search-box {
    background-image: none;
    padding-left: 35px;
    color: #ffffff;
  }

  #search-box .admin-search-box:focus,
  input:focus,
  select:focus {
    box-shadow: unset !important;
  }

  span.k-widget.k-numerictextbox,
  span.k-widget.k-datetimepicker {
    width: 100% !important;
  }

  .k-picker-wrap .k-input,
  .k-numeric-wrap .k-input {
    border: 1px solid #ced4da;
    border-radius: 3px;
  }

  table.dataTable thead > tr > th:after {
    font-size: 24px !important;
    margin-top: 4px;
    color: #000000;
    right: 2px !important;
  }

  table.dataTable thead > tr > th:before {
    font-size: 24px !important;
    color: #000000;
    right: 2px !important;
  }

  .sidebar-dark-primary .nav-sidebar.nav-legacy > .nav-item > .nav-link.active {
    border-color: transparent;
  }

  .quote-detail-page .card {
    padding: 0;
  }

  #customer-cards .checkbox.checkbox-inline {
    display: inline-block;
    margin-right: 45px;
  }

  #customer-cards .checkbox.checkbox-inline label {
    margin-left: 4px;
    margin-top: -1px;
  }

  .bg-gradient-green {
    color: #ffffff;
  }

  .k-picker-wrap.k-state-default > .k-select {
    border: 1px solid #ced4da;
  }

  .k-datetimepicker .k-select .k-link {
    vertical-align: -webkit-baseline-middle;
  }

  .access-control-table th label {
    align-items: start !important;
  }

  .access-control-table th label strong {
    margin-top: -5px;
  }

  .brand-link.logo-switch img {
    max-height: 100px;
  }

  .main-sidebar .brand-link {
    height: 130px;
  }

  .sidebar-collapse aside:hover .brand-link.logo-switch img {
    max-height: 60px;
  }

  .sidebar-collapse aside:hover .logo-switch {
    height: 72px;
  }

/*.sidebar-mini.sidebar-collapse .brand-link.logo-switch img {
    max-height: 60px;
    }*/

    .data-listing-scrollbox {
      margin: 0px;
      padding: 0px;
      max-height: 300px;
      overflow: scroll;
      overflow-x: hidden;
    }

    .data-listing-scrollbox li {
      border: 1px solid #cdcdcd;
      padding: 7px 15px;
      font-size: 15px;
      border-top: 0px;
      list-style-type: none;
    }

    .data-listing-scrollbox li:first-child {
      border-top: 1px solid #cdcdcd;
    }

    /*-------- Carrier Setup start ---------*/

    .carrier-pg {
      font-size: 14px !important;
    }

    .carrier-pg h3 {
      font-size: 24px;
      font-weight: bold;
      font-family: sans-serif;
    }

    .carrier-pg h4 {
      font-size: 22px;
      font-weight: bold;
      font-family: sans-serif;
    }

    .carrier-pg .carrier-bg-area {
      position: relative;
      background-image: url(https://anew.sigmasolve.com/Themes/DefaultClean/Content/images/bg2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      width: 100%;
      overflow: auto;
      overflow-x: hidden;
      padding: 15px;
      box-sizing: border-box;
    }

    .carrier-pg .carrier-bg-area.option2 {
      background-image: unset;
      background-color: #cdcdcd;
    }

    .carrier-pg .main-cardbox {
      padding: 2.5rem;
      background-color: #fff;
      width: 800px;
      max-width: 85%;
      display: table;
      margin: 25px auto;
    }

    .carrier-pg .hidden-dot-listing {
      margin: 20px 0px;
      padding: 0px;
    }

    .carrier-pg .hidden-dot-listing li {
      list-style-type: none;
      margin-bottom: 4px;
    }

    .carrier-pg .hidden-dot-listing li strong {
      text-decoration: underline;
    }

    .carrier-pg input:not(.form-control):focus {
      outline: none;
      box-shadow: none;
      padding: 3px;
      box-sizing: border-box;
    }

    .serif {
      font-family: serif;
    }

    .carrier-pg .insurance-info-listing {
      padding-left: 20px;
    }

    .carrier-pg .insurance-info-listing li {
      margin-bottom: 6px;
    }

    .carrier-pg .insurance-info-listing li ul li {
      list-style-type: square;
    }

    .carrier-pg .form-label {
      font-weight: 600;
      font-family: sans-serif;
      color: #222;
      font-size: 16px;
    }

    .carrier-pg .form-label sup {
      color: red;
    }

    .carrier-pg .signature-box {
      height: 150px;
      width: 100%;
      border: 1px solid #cdcdcd;
      border-radius: 10px;
    }

    .carrier-pg .carrier-sumit-btn {
      padding: 8px 12px;
      background-color: #1b6ead;
      color: #fff;
      font-size: 15px;
      border-radius: 5px;
      border: none;
    }

    .carrier-pg .main-cardbox .half-box {
      display: inline-table;
      width: 50%;
      padding: 0px 15px;
      margin-bottom: 10px;
      box-sizing: border-box;
      vertical-align: top;
    }

    .carrier-pg .mb-3 {
      margin-bottom: 15px;
    }

    .carrier-pg .col3-Box {
      padding-right: 2%;
    }

    .carrier-pg .vertical-top {
      vertical-align: top;
    }

    .carrier-pg .vertical-bottom {
      vertical-align: bottom;
    }

    .carrier-pg .field-validation-error {
      font-size: 13px;
      color: #f00;
      display: block;
      margin-bottom: 6px;
    }

    .carrier-pg .validation-summary-errors {
      font-size: 13px;
      color: #f00;
    }

    .carrier-pg .validation-summary-errors ul {
      list-style-type: none;
    }

    .table-hover > tbody > tr:hover {
      --bs-table-accent-bg: transparent;
    }

    .table-hover tbody tr:hover {
      background-color: transparent;
    }

    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
      border-top: transparent;
      border-right: transparent;
    }

    .qq-uploader .qq-upload-button-selector > div {
      color: #ffffff;
    }

    .accounttype-check {
      display: flex;
      align-items: center;
    }

    .accounttype-check label {
      margin-bottom: 0;
      margin-right: 6px;
      margin-left: 4px;
    }

    .page-title-area small {
      color: #0076bb;
    }

    #statusContent span.k-widget.k-datepicker {
      width: 100%;
    }

    #statusContent button.btn.btn-primary {
      margin: 10px 0;
    }

    .form-horizontal span.required {
      margin-top: 6px;
    }

    #carrier-details-cards .form-group {
      border-bottom: 1px solid #ececec;
      margin-bottom: 0;
    }

    #carrier-details-cards .col-md-6 {
      border: 1px solid #e3e3e3;
    }

    #carrier-details-cards .col-md-6 .col-md-4 {
      border-right: 1px solid #e3e3e3;
      padding: 8px 12px;
    }

    #carrier-details-cards .col-md-6 .col-md-8 {
      padding: 8px 12px;
    }

    #carrier-details-cards .col-md-6 {
      border: 1px solid #e3e3e3;
      width: 49%;
      margin-right: 8px;
    }

    .lead-information th {
      width: 200px;
    }

    .address-information th {
      width: 200px;
    }

    .k-multiselect {
      width: 425px;
    }

/* .page-main-area .accordion-body select {
  border: 1px solid #ced4da;
  } */

  .page-title-area {
    margin-bottom: 30px;
  }

  .form-horizontal .k-numerictextbox {
    width: 425px !important;
  }

  .quote-information .table th {
    width: 200px;
  }

  .card.card-primary.card-outline.order-route-info {
    height: 520px;
  }

  #vehicle_0 .upload-button-container .qq-upload-list {
    margin: 4px 0;
  }
.billing-wrap table .form-label {
    display: block;
}

.billing-wrap table span {
    display: block;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}
.billing-wrap .vertical-top img {
    width: 100%;
    display: block;
    height: 100%;
}
.unit-img {
    width: 32%;
    display: inline-block;
    margin-bottom: 5px;
}
/*-------- Carrier Setup end ---------*/
.shipper-info-table tr th,
.shipper-info-table tr td {
    padding: 15px !important;
}


/* ---------------- media section start  ----------------- */
@media (max-width: 1600px) {
    .card-search .form-control, .card-search .input-group-short {
      max-width: 264px;
    }
    .card-search .k-multiselect {
        width: 264px !important;
    }
    .card-search span.k-widget.k-numerictextbox,
    .card-search span.k-widget.k-datetimepicker {
        width: 264px !important;
        max-width:264px !important;
    }
    .card-search .k-picker-wrap.k-state-focused,
    .card-search .k-numeric-wrap.k-state-focused {

    }
    .card-search .k-numeric-wrap.k-expand-padding .k-input {
        max-width: 264px !important;
    }    
    .card-search .k-picker-wrap.k-state-default,
    .card-search .form-horizontal .k-datepicker {
        width: 242px !important;
        max-width: 242px !important;
    }
    .card-search .input-group-short {
        display:flex;
        align-items:center;
    }
    .card-search .input-group-short #go-to-email-by-number {
        line-height:1.65;
        border-radius:0px 5px 5px 0px;
    }
    }

  @media screen and (max-width: 1500px) {
    .login-box-area .logo-section img {
      width: 10rem;
    }
    .login-box-area .form-section {
      padding: 3.1rem;
    }
    .login-box-area .form-section h3 {
      font-size: 2.3rem;
      margin: 0px 0px 2rem;
    }
  }

  @media screen and (max-width: 1366px) {
    .login-bg-area .login-box-area {
      width: 500px;
    }
    .login-box-area .form-section .form-group input {
      padding: 1rem 1rem 1rem 2.7rem;
    }
    .login-box-area .form-section .login-btn {
      padding: 0.82rem;
    }
  }

  @media screen and (max-width: 1280px) {
    .login-bg-area .login-box-area {
      width: 470px;
    }
    .login-box-area .form-section h3 {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 992px) {
    .login-bg-area .login-box-area {
      width: 420px;
    }
    .login-box-area .logo-section img {
      width: 8rem;
    }
  }

  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 650px) {
    .login-box-area .form-section {
      padding: 2.1rem;
    }
    .login-box-area .form-section .form-group input {
      padding: 0.75rem 0.75rem 0.75rem 2.7rem;
    }
    .login-box-area .form-section .login-btn {
      padding: 0.6rem;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 420px) {
  }

  @media screen and (max-width: 380px) {
    .login-box-area .form-section .links-area-box {
      flex-direction: column;
    }
    .login-box-area .form-section .links-area-box .forgot-box {
      margin-left: auto;
    }
  }



