@using Nop.Web.Areas.Admin.Models.LogisticsFieldsHistory;
@model Nop.Web.Areas.Admin.Models.LogisticsLeads.LogisticsLeadModel

<div class="card-body">
    <div class="card card-default">
        <div class="card-body">
            @await Html.PartialAsync("Table", new DataTablesModel
            {
                Ordering = true,
                Order = "0,'desc'",
                Orderable = false,
                Name = "leadfield-history-grid",
                UrlRead = new DataUrl("LeadFieldHistory", "LogisticsLeads", new RouteValueDictionary { [nameof(Model.LogisticsFieldHistorySearchModel.EntityId)] = Model.Id }),
                Length = Model.LogisticsFieldHistorySearchModel.PageSize,
                LengthMenu = Model.LogisticsFieldHistorySearchModel.AvailablePageSizes,
                ColumnCollection = new List<ColumnProperty>
                {
                    new ColumnProperty(nameof(LogisticsFieldHistoryModel.Id))
                    {
                        Title = T("Admin.LogisticsFieldHistory.Fields.Id").Text,
                        Encode = false,
                        Visible=false,
                    },
                    new ColumnProperty(nameof(LogisticsFieldHistoryModel.Message))
                    {
                        Title = T("Admin.LogisticsFieldHistory.Fields.Message").Text,
                        Encode = false
                    },
                    new ColumnProperty(nameof(LogisticsFieldHistoryModel.OriginalValue))
                    {
                        Title = T("Admin.LogisticsFieldHistory.Fields.OriginalValue").Text,
                        Encode = false
                    },
                    new ColumnProperty(nameof(LogisticsFieldHistoryModel.ChangeValue))
                    {
                        Title = T("Admin.LogisticsFieldHistory.Fields.ChangeValue").Text,
                        Encode = false
                    },
                    new ColumnProperty(nameof(LogisticsFieldHistoryModel.HistoryType))
                    {
                        Title = T("Admin.LogisticsFieldHistory.Fields.VehicleType").Text,
                        Width = "50",
                        Encode = false
                    },
                    new ColumnProperty(nameof(LogisticsFieldHistoryModel.UpdatedName))
                    {
                        Title = T("Admin.LogisticsFieldHistory.Fields.UpdatedBy").Text,
                        Width = "100",
                        Encode = false
                    },
                    new ColumnProperty(nameof(LogisticsFieldHistoryModel.UpdatedOnUtc))
                    {
                        Title = T("Admin.LogisticsFieldHistory.Fields.UpdatedOnUtc").Text,
                        Width = "100",
                        Encode = false,
                        Render = new RenderDate()
                    },
                }
            })
        </div>
    </div>
</div>
<button type="submit" id="btnRefreshLeadFieldHistory" style="display: none"></button>
<script>
    $(document).ready(function () {
        $('#btnRefreshLeadFieldHistory').click(function () {
            //refresh grid
            updateTable('#leadfield-history-grid');

            //return false to don't reload a page
            return false;
        });
    });
</script>
